


body {
  


  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MainConteiner{
  max-width: 100%;
  width: 1400px;
  height: 530px;

  background-image: url(Images/Sontse.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  

}

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.SliderItem {
  color: black;
}

.Iconvid {
  color: transparent;
}

.Aboutimg {
  max-width: 100%;
  width: 1350px;
  height: 530px;

  background-image: url(Images/RS2639_Hot-web.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}